import #fileName# from "#viewPath#";
#imports#
export const enum #fileName#Msg {
#messages#
}

export class #className# extends ExtensionClass<IView, #fileName#>(#fileName#) {
    static readonly PkgRes = ResPath.PkgPath.#packageName#;

	override onCreate(): void {
        #allComp#
    }

}
